*,
*::before,
*::after {
  box-sizing: border-box; }

*:focus {
  outline: none; }

.main-container {
  width: 1440px;
  height: 1034px; }
  .main-container .navbar {
    position: relative;
    text-align: center;
    background: #C4C4C4;
    width: 100%;
    height: 84px; }
    .main-container .navbar .nav-title {
      text-transform: uppercase;
      margin: 0px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 61.04px;
      line-height: 57.99px; }
  .main-container .main-wrapper {
    display: flex;
    width: 100%; }
    @media only screen and (max-width: 499px) {
      .main-container .main-wrapper {
        display: unset; } }
    .main-container .main-wrapper .left-container {
      flex: 1; }
      .main-container .main-wrapper .left-container .img-wrapper {
        margin: 28px 50px; }
      .main-container .main-wrapper .left-container .details-container {
        margin: 17px 20px; }
        @media only screen and (max-width: 499px) {
          .main-container .main-wrapper .left-container .details-container {
            text-align: center; } }
        .main-container .main-wrapper .left-container .details-container img {
          margin-right: 58.97px; }
    .main-container .main-wrapper .right-container {
      padding: 102px 10px 20px 10px;
      flex: 1; }
      @media only screen and (max-width: 499px) {
        .main-container .main-wrapper .right-container {
          text-align: center; } }
      .main-container .main-wrapper .right-container .chip-title {
        font-family: SieteTltular2;
        font-weight: 400;
        font-size: 32px;
        line-height: 57.99px;
        margin: 0;
        text-transform: uppercase; }
        @media only screen and (max-width: 499px) {
          .main-container .main-wrapper .right-container .chip-title {
            font-family: SieteTltular2;
            font-weight: 400;
            font-size: 6vw;
            line-height: 8vw; } }
      .main-container .main-wrapper .right-container .chip-price {
        margin-top: 0;
        font-family: SieteTltular2;
        font-weight: 400;
        font-size: 18px;
        line-height: 37.11px; }
        @media only screen and (max-width: 499px) {
          .main-container .main-wrapper .right-container .chip-price {
            font-family: SieteTltular2;
            font-weight: 400;
            font-size: 5vw;
            line-height: 5vw; } }
      .main-container .main-wrapper .right-container .review {
        cursor: pointer; }
        @media only screen and (max-width: 499px) {
          .main-container .main-wrapper .right-container .review {
            display: flex;
            justify-content: center; } }
        .main-container .main-wrapper .right-container .review .rating {
          display: flex;
          width: unset; }
          @media only screen and (max-width: 499px) {
            .main-container .main-wrapper .right-container .review .rating {
              float: none; } }
          .main-container .main-wrapper .right-container .review .rating span label {
            background-size: cover;
            cursor: pointer;
            width: 32px;
            height: 30px; }
          .main-container .main-wrapper .right-container .review .rating span input {
            cursor: pointer; }
        .main-container .main-wrapper .right-container .review .review-mark {
          margin: -4px 11.25px;
          display: inline-block;
          text-transform: uppercase;
          font-size: 31.25px;
          line-height: 29.69px; }
          @media only screen and (max-width: 499px) {
            .main-container .main-wrapper .right-container .review .review-mark {
              display: none; } }
          .main-container .main-wrapper .right-container .review .review-mark input {
            cursor: pointer; }
        .main-container .main-wrapper .right-container .review #rate-mark {
          border: none;
          background: none;
          width: 115px;
          text-align: center;
          margin: 0 -35px;
          color: black;
          padding: 0;
          font-size: 31.25px;
          line-height: 29.69px; }
      .main-container .main-wrapper .right-container .chip-container {
        margin-top: 19.57px; }
        @media only screen and (max-width: 499px) {
          .main-container .main-wrapper .right-container .chip-container {
            text-align: -webkit-center; } }
        .main-container .main-wrapper .right-container .chip-container .chip-item {
          margin: 0 0 12.25px 0;
          display: flex;
          justify-content: space-between;
          width: 440.67px;
          height: 57px;
          border: 1px solid #99CCCC;
          padding: 16.13px;
          position: relative; }
          .main-container .main-wrapper .right-container .chip-container .chip-item .radio-button {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%); }
          .main-container .main-wrapper .right-container .chip-container .chip-item .one-time label .radio-button__label {
            font-family: Queulat;
            font-weight: 900;
            font-size: 16px;
            line-height: 19.2px;
            color: #99CCCC;
            vertical-align: middle; }
            @media only screen and (max-width: 499px) {
              .main-container .main-wrapper .right-container .chip-container .chip-item .one-time label .radio-button__label {
                font-family: Queulat;
                font-weight: 900;
                font-size: 3.5vw;
                line-height: 2vw; } }
          .main-container .main-wrapper .right-container .chip-container .chip-item .item-val {
            font-family: Queulat;
            font-weight: 900;
            font-size: 1.5vw;
            line-height: 2vw;
            color: #f04e98;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            margin-right: 19.65px; }
            @media only screen and (max-width: 499px) {
              .main-container .main-wrapper .right-container .chip-container .chip-item .item-val {
                font-family: Queulat;
                font-weight: 900;
                font-size: 3.5vw;
                line-height: 6vw; } }
          .main-container .main-wrapper .right-container .chip-container .chip-item.active {
            border: 1px solid #009999; }
            .main-container .main-wrapper .right-container .chip-container .chip-item.active .one-time label .radio-button__label {
              color: #009999; }
        .main-container .main-wrapper .right-container .chip-container .add-cart-container {
          margin-top: 11.35px;
          width: 440.67px;
          height: 57px;
          justify-content: space-between;
          display: flex; }
          .main-container .main-wrapper .right-container .chip-container .add-cart-container .cart-volumn {
            display: flex;
            justify-content: space-between;
            border: 1px solid #99CCCC;
            height: 57px;
            width: 96px;
            color: #99CCCC;
            font-size: 16px; }
            @media only screen and (max-width: 499px) {
              .main-container .main-wrapper .right-container .chip-container .add-cart-container .cart-volumn {
                height: 8vw; } }
            .main-container .main-wrapper .right-container .chip-container .add-cart-container .cart-volumn span {
              cursor: pointer;
              margin: auto; }
            .main-container .main-wrapper .right-container .chip-container .add-cart-container .cart-volumn input {
              border: none;
              color: #99CCCC;
              width: 50%;
              text-align: center;
              font-size: 16px;
              padding: 0; }
          .main-container .main-wrapper .right-container .chip-container .add-cart-container .btn-cart {
            width: 330px;
            height: 100%;
            text-transform: uppercase;
            background: #009999;
            border: 1px solid #009999;
            color: white;
            font-size: 16px;
            cursor: pointer; }
            @media only screen and (max-width: 499px) {
              .main-container .main-wrapper .right-container .chip-container .add-cart-container .btn-cart {
                height: 8vw; } }
        .main-container .main-wrapper .right-container .chip-container .chip-chk:checked {
          background: #009999;
          color: white; }

/*# sourceMappingURL=index.css.map */
