@import '_variables';
@import '_mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.main-container {
  margin: 0 auto;
  @include setSize(1440px, 1034px);

  @include mq('desktop-wide', max) {
    @include setSize(100%);
  }

  @include mq('tablet', max) {
    @include setSize(100%, 1336px);
  }

  .navbar {
    position: relative;
    text-align: center;
    background: #C4C4C4;
    @include setSize(100%, 84px);

    .nav-title {
      text-transform: uppercase;
      margin: 0px;
      @include setParentCenter();
      @include setFont(null, 61.04px, 57.99px);

      @include mq('desktop-wide', max) {
        @include setFont(null, 45px, 57.99px);
      }

      @include mq('tablet', max) {
        @include setFont(null, 30px, 57.99px);
      }
    }
  }

  .main-wrapper {
    display: flex;
    width: 100%;

    @include mq('tablet', max) {
      display: unset;
    }

    .left-container {
      flex: 1;

      .img-wrapper {
        margin: 28px 50px;

        @include mq('desktop-wide', max) {
          img {
            @include setSize(100%);
          }
        }

        @include mq('tablet', max) {
          margin: 28px 48px 0 48px;

          img {
            @include setSize(100%);
          }
        }
      }

      .details-container {
        margin: 17px 20px;

        img:first-child {
          margin-right: 58.97px;
        }

        @include mq('desktop-wide', max) {
          img {
            width: 20%;

            &:first-child {
              margin-right: 5%;
            }
          }
        }

        @include mq('tablet', max) {
          text-align: center;

          img {
            margin-right: 0px;
            @include setSize(77px, 78px);

            &:first-child {
              margin-right: 30.83px;
            }
          }
        }
      }
    }

    .right-container {
      padding: 102px 10px 20px 10px;
      flex: 1;

      @include mq('desktop-wide', max) {
        padding: 5vw 0 0 0;
      }

      @include mq('tablet', max) {
        padding: 23px 0 0 0;
        text-align: center;
      }

      .chip-title {
        @include setFont(400, 32px, 57.99px, SieteTltular2);
        margin: 0;
        text-transform: uppercase;

        @include mq('tablet-medium', max) {
          @include setFont(400, 28px, 37.11px, SieteTltular2);
        }

        @include mq('tablet', max) {
          @include setFont(400, 30px, 37.11px, SieteTltular2);
        }
      }

      .chip-price {
        margin-top: 0;
        @include setFont(400, 18px, 37.11px, SieteTltular2);

        @include mq('tablet', max) {
          margin: 15px;
          @include setFont(400, 27.25px, 29.69px, SieteTltular2);
        }
      }

      .review {
        cursor: pointer;

        @include mq('tablet', max) {
          display: flex;
          justify-content: center;
        }

        .rating {
          display: flex;
          width: unset;

          @include mq('tablet', max) {
            float: none;
          }

          span label {
            background-size: cover;
            cursor: pointer;
            @include setSize(32px, 30px);

            @include mq('tablet', max) {
              @include setSize(19.99px, 18.72px);
            }
          }

          span input {
            cursor: pointer;
          }
        }

        .review-mark {
          margin: 3px 11.25px;
          display: inline-block;
          text-transform: uppercase;
          @include setFont(400, 18px, 29.69px);

          @include mq('tablet', max) {
            display: none;
          }

          input {
            cursor: pointer;
          }
        }

        #rate-mark {
          border: none;
          background: none;
          width: 115px;
          text-align: center;
          margin: 0 -35px;
          color: black;
          padding: 0;
          @include setFont(400, 18px, 29.69px);
        }
      }

      .chip-container {
        margin-top: 32.75px;

        @include mq('tablet', max) {
          text-align: -webkit-center;
        }

        .chip-item {
          margin: 0 0 12.25px 0;
          display: flex;
          justify-content: space-between;
          border: 1px solid $primary-deactive;
          padding: 16.13px;
          position: relative;
          @include setSize(440.67px, 57px);

          @include mq('desktop-wide', max) {
            @include setSize(80%, 47.22px);
            margin: 0 0 10.12px 0;
          }

          @include mq('tablet', max) {
            @include setSize(80%, 47.22px);
            margin: 0 0 10.12px 0;
          }

          .radio-button {
            @include setVerticalMiddle();
          }

          .one-time label .radio-button__label {
            @include setFont(900, 16px, 19.2px, Queulat);
            color: $primary-deactive;
            vertical-align: middle;

            @include mq('tablet', max) {
              @include setFont(900, 14px, 16.8px, Queulat);
            }
          }

          .item-val {
            @include setFont(900, 16px, 19.2px, Queulat);
            color: $secondary-active;
            @include setVerticalMiddle(false);
            margin-right: 19.65px;

            @include mq('tablet', max) {
              @include setFont(900, 14px, 16.8px, Queulat);
            }
          }

          &.active {
            border: 1px solid $primary-active;

            .one-time label .radio-button__label {
              color: $primary-active;
            }
          }
        }

        .add-cart-container {
          margin-top: 11.35px;
          justify-content: space-between;
          display: flex;
          @include setSize(440.67px, 57px);

          @include mq('desktop-wide', max) {
            @include setSize(80%, 47.22px);
          }

          @include mq('tablet', max) {
            @include setSize(80%, 47.22px);
          }

          .cart-volumn {
            display: flex;
            justify-content: space-between;
            border: 1px solid $primary-deactive;
            color: $primary-deactive;
            font-size: 16px;
            @include setSize(96px, 57px);

            @include mq('desktop-wide', max) {
              @include setSize(25%, 47.22px);
            }

            @include mq('tablet', max) {
              @include setSize(25%, 47.22px);
            }

            span {
              cursor: pointer;
              margin: auto;
            }

            input {
              border: none;
              color: $primary-deactive;
              width: 50%;
              text-align: center;
              font-size: 16px;
              padding: 0;
            }
          }

          .btn-cart {
            text-transform: uppercase;
            background: $primary-active;
            border: 1px solid $primary-active;
            color: white;
            font-size: 16px;
            cursor: pointer;
            @include setSize(330px);

            @include mq('desktop-wide', max) {
              @include setSize(70%, 47.22px);
            }

            @include mq('tablet', max) {
              @include setSize(70%, 47.22px);
            }
          }
        }

        .chip-chk:checked {
          background: $primary-active;
          color: white;
        }
      }
    }
  }
}